@import url(header.css);
@import url(main.css);
@font-face {
    font-family: "Aktiv Grotesk1";
    src: url("../assets/Font/AktivGrotesk_Rg.ttf");
    font-family: "Aktiv Gotesk2";
    src: url("../assets/Font/AktivGrotesk_Bd.ttf");
    font-family: "Aktiv Grotesk3";
    src: url("../assets/Font/AktivGrotesk_Lt.ttf");
}


:root {
    --background-gray: #f6f6f4;
    --primary-gray20: #eaeae6;
    --primary-gray50: #c6c5bd;
    --primary-gray70: #9b9a92;
    --primary-gray99: #3c3b34;
    --accent-red: #ff6b6b;
    }

body {
    font-family: 'Aktiv Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: black;
}

h1{
    font-size: 3em;
}
h2 {
    color: black;
    font-family: "Aktiv Grotesk2";
    font-size: 2em;
    text-align: center;
}
h4{
    font-size: 1.5em;
    text-align: center;
    line-height: 1em;
}

p {
    font-family: "Aktiv Grotesk3";
    font-size: 18px;
    line-height: 1.5;
    color: black;
    line-break: auto;
}
/* ai design sprint section */

.ai-design-sprint{
    background-color: var(--primary-gray99);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em; 
}

.ai-design-sprint h2{
  margin-top: 0;
  color: var(--accent-red);
}
.ai-design-sprint h3{
    color: black;
    font-size: 1.5em;
    text-align: center;
}

.design-sprint-info{
    border: solid 5px var(--accent-red);
    padding: 1.5em;
    border-radius: .5em;
    min-width: 280px;
}

.ai-design-sprint p{
    font-size: 18px;
    margin-top: 0;
    color: white;
}

.design-sprint-card{
    background-color: var(--accent-red);
    /* border-radius:25% 10%; */
    border: 3px solid var(--primary-gray20);
    border-radius: .5em;
    box-shadow:  0 5px 15px rgba(31, 22, 22, 0.565);
    margin: 2em;
    padding: 1em;
    min-width: 300px;
   min-height: 490px;
    align-items: center;
    color: black;
    /* display: none; */
}

/* .show{
    display: block;
    transition: all 0.5s ease-in-out;
} */
.design-sprint-card p{
    color: black;
}

/* design sprint section end */

/* steps section */
/*  */

 .design-sprint-steps{
    background: hsla(53, 7%, 76%, 1); background: linear-gradient(90deg, hsla(53, 7%, 76%, 1) 6%, hsla(6, 27%, 63%, 1) 68%, hsla(0, 100%, 71%, 1) 100%); background: -moz-linear-gradient(90deg, hsla(53, 7%, 76%, 1) 6%, hsla(6, 27%, 63%, 1) 68%, hsla(0, 100%, 71%, 1) 100%); background: -webkit-linear-gradient(90deg, hsla(53, 7%, 76%, 1) 6%, hsla(6, 27%, 63%, 1) 68%, hsla(0, 100%, 71%, 1) 100%); filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C6C5BD", endColorstr="#BA8B86", GradientType=1 );
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;    
} 

.design-sprint-steps p{
    color: black;
}

.design-sprint-steps ul{
    padding:50px 0 ;
}
/* dit is voor de timeline streep */
.design-sprint-steps ul li{
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: var(--primary-gray99);
}
/* timeline boxes met info */
.design-sprint-steps ul li article{
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 1rem;
    background-color: hwb(43 54% 44% / 0.296);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1em;
    box-shadow: inset 0 5px 15px #00000090;
    transition: all 0.5s ease-in-out;
}
/* right side boxes */
.design-sprint-steps ul li:nth-child(odd) article{
    left: 40px;
}
/* left side boxes */
.design-sprint-steps ul li:nth-child(even) article{
    left: -475px;
}
/* timeline dots */
.design-sprint-steps ul li::after{
    content: '';
    position: absolute;
    top: 15px;
    left: -12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--accent-red);
    box-shadow: inset 0 5px 15px #370202;
}
/* schermcontent tot breakpoint 600px */
@media screen and (max-width: 600px) {
    /* timeline line */
    .design-sprint-steps ul li{
        right: 11em;
    }
    .design-sprint-steps ul li article{
        width: 300px;
    }
    .design-sprint-steps ul li:nth-child(even) article{
        left: 2.5em;
    }

}
/* schermcontent tussen 600px en 768px */
@media screen and (min-width: 601px) and (max-width: 768px) {
    .design-sprint-steps ul li{
        right: 18em;
    }
    .design-sprint-steps ul li article{
        width: 500px;
        padding: 2rem;
    }
    .design-sprint-steps ul li:nth-child(even) article{
        left: 2.5em;
    }
    
}
/* schermcontent tussen 769px en 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .design-sprint-steps ul li {
      right: 0;
    }
    .design-sprint-steps ul li article {
      width: 300px;
    }
    .design-sprint-steps ul li:nth-child(odd) article {
      left: 40px;
    }
    .design-sprint-steps ul li:nth-child(even) article {
      left: -375px;
    }
  }
    


/* steps section end */

/* Studycases section */
   .cases {
   background-color: var(--primary-gray20);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
  }
  
  .cases ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;

  }
  
 .cases li{
    position: relative;
    overflow: hidden;
    border-radius: 10em 10em 10px 10px ;
    border-style: solid 5px;
    box-shadow: 0 0 1.5em rgba(29, 23, 23, 0.962);
    min-height: 30rem;
}

.card img {
    width: 20em;
    height: 20rem;
    display: block;
    object-fit: cover;
 }

  .card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-gray);
    box-shadow: inset 0 .5em var(--accent-red);
  }

  .card-content {
    padding: 20px;
    text-align: center;
  }
  
  .card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 1em;
    color: #555;
  }
  
  .card a {
    color: black;
    font-weight: bold;
    background-color: var(--accent-red);
    padding: .3em;
    text-decoration: none;
  }
 
/* Studycases end section */

/* contact */
.contact{
    background-color: var(--primary-gray70);
    display: flex;
    flex-direction: column;
}
.contact ul{
    list-style-type: none;
   padding: 1em;
   justify-content: center;
}
.contact img{
    width: 100%; 
    border-radius: .2em;
}
.socials{
    width: 35px;
    margin-right: 1em;
    padding-left: 1.5em;
    margin-top: .5em;
}
.contact li{
    background-color: var(--primary-gray50);
    border-radius: 1em;
    padding: 1em;
    justify-content: center;
    align-items: center;
    margin: .5em;
    min-width: 350px;
}
#hartje{
    width: 2.7em;
    margin-bottom: .5em;
    padding-left: 1em;
}
#logo-inverted{
    width: 4em;
    margin-left: 1em;
}
.contact h2, h3{
    color: var(--primary-gray99);
}
.contact-info p{
    color:black;
    font-weight: 800;
}

/* contact section end */

/* Lees meer over AI */
/* .articles{
    background-color: var(--primary-gray20);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}

.articles p {
    margin-block-start: 1em;
    margin-block-end: 1.5em;
}

 

.articles ul {
    list-style-type: none;
    overflow:auto;
    scroll-snap-type: x mandatory;
    padding: 0;
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
    margin: 0;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--primary-gray99);
    border-top: 1px solid var(--primary-gray99);
    background-color: var(--primary-gray20);
    color: var(--primary-gray99);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 0.5em;
    margin: 0;
}

.articles ul li {
    flex: 0 0 auto;
    width: 300px; 
}

.articles li {
    margin: .5em;
    background-color: var(--primary-gray70);
    padding: 2em;
    padding-bottom: .5em;
    border-radius: 25% 10%;
    scroll-snap-align: start;
    width: 30em;
    height: 20em;
  }
  
 .articles img {
    width: 100%;
    height: 50%;
    object-fit: cover; 
    border-radius: 1em;
  }

.articles a {
    background-color: var(--accent-red);
    padding: .5em;
}  */




